@font-face {
	font-family: "Palatino LT W01 Light";
	src: url("/fonts/palatinoLight.eot?#iefix");
	src: url("/fonts/palatinoLight.eot?#iefix") format("eot"),
		url("/fonts/palatinoLight.woff") format("woff"),
		url("/fonts/palatinoLight.ttf") format("truetype"),
		url("/fonts/palatinoLight.svg#swiggity-swooty") format("svg");
 }

@font-face {
	font-family: "PalatinoLTW01-LightItal";
	src: url("/fonts/palatinoLightItalic.eot?#iefix");
	src: url("/fonts/palatinoLightItalic.eot?#iefix") format("eot"),
		url("/fonts/palatinoLightItalic.woff") format("woff"),
		url("/fonts/palatinoLightItalic.ttf") format("truetype"),
		url("/fonts/palatinoLightItalic.svg#swiggity-swooty") format("svg");
 }

@font-face {
	font-family: "URW Topic W01 Bold";
	font-weight: normal;
	src: url("/fonts/urwTopic.eot?#iefix");
	src: url("/fonts/urwTopic.eot?#iefix") format("eot"),
		url("/fonts/urwTopic.woff") format("woff"),
		url("/fonts/urwTopic.ttf") format("truetype"),
		url("/fonts/urwTopic.svg#swiggity-swooty") format("svg");
 }
