@import "normalize.scss";

$gingreen: #003700;
$ginsilver: #d6d6d5;
$ginred: #b90f00;
$sidebar-width: 150px;
$darkgrey: #222;
$skin: #F3DB2D;
$shadedgrey: rgba(0,0,0,0.7);
$single-column-threshold: 770px;
$text-column-width: 600px;
$spacing: 24px;

*, *:before, *:after {
  /* Ensure padding is inside boxes. See http://paulirish.com/2012/box-sizing-border-box-ftw */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  // Boxes have layout by default
  overflow: hidden;
}

a, a:hover, a:active, a:visited {
  color: $gingreen;
}

@mixin transform($string) {
  -webkit-transform: $string;
  -moz-transform: $string;
  -ms-transform: $string;
  -o-transform: $string;
  transform: $string;
}

nav {
  font-family: 'Lato';
  font-size: $spacing / 2;
  text-transform: uppercase;
}

/* ☰ button */
.nav-link {
  z-index: 1;
  display: none;
  top: 0;
  left: $sidebar-width;
  background: $shadedgrey;
  padding: 1em;
  @media (max-width: $single-column-threshold) {
    position: fixed;
    left: 0;
    display: block;
    &.menu-active {
      left: $sidebar-width;
    }
  }
}

nav.horizontal {
  display: block;
  width: 100%;
  background: $shadedgrey;
  overflow: hidden;
  text-align: center;
  ul, li {
    list-style: none;
  }
  ul {
    overflow: hidden;
    margin: 5px 0;
    margin: 0 auto;
    padding: 5px 0;
    display: inline-block;
  }
  li {
    float: left;
    margin: 0 30px;
  }
  a, a:hover, a:active, a:visited {
    color: whiteSmoke;
    text-decoration: none;
    width: 100%;
    display: block;
    letter-spacing: 2px;
  }
  @media (max-width: $single-column-threshold) {
    display: none;
  }
}

nav.vertical {
  margin-left: -$sidebar-width;
  width: 0;
  position: fixed;
  top: 0;
  left: $sidebar-width;
  bottom: 0;
  z-index: 1;
  background: $darkgrey;
  overflow-y: auto;
  font-size: 20px;
  &.menu-active {
    @media (max-width: $single-column-threshold) {
      @include transform(translateX(0));
      width: $sidebar-width;
      left: $sidebar-width;
    }
  }
  @media (max-width: $single-column-threshold) {
    left: 0;
  }
  ul, li {
    list-style: none;
  }
  ul {
    padding-left: 10px;
  }
  a, a:hover, a:active, a:visited {
    color: whiteSmoke;
    text-decoration: none;
    width: 100%;
    display: block;
    letter-spacing: 2px;
  }
  a:hover {
    background-color: $ginsilver;
    color: $gingreen;
  }
  li.object {
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0 5px 0;
    li.navitem {
      font-size: 14px;
      margin: 5px;
    }
  }
}

body, nav, .nav-link, .content {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}

strong {
  color: $ginred;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/triangle.jpg");
  padding-left: 0;
  left: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  color: $darkgrey;
  overflow-x: hidden;
  @media (max-width: $single-column-threshold) {
    padding-left: 0;
  }
}

.content {
  text-align: center;
  margin: 10px auto;
  max-width: $text-column-width; // No super-wide
  @media (max-width: $single-column-threshold) {
    width: 100%;
  }
  &.menu-active {
    @media (max-width: $single-column-threshold) {
      @include transform(translateX($sidebar-width));
    }
  }
}

h1 img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 100px auto 0 auto;
}

h2 {
  font-weight: 200;
  font-size: 21pt;
  color: $gingreen;
}

h3 {
  font-weight: 200;
  font-size: 16pt;
  padding-top: $spacing * 2;
}

h4 {
  color: $gingreen;
  font-size: 10pt;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 20px;
  margin-bottom: 5px;
}

h5 {
  font-size: 14pt;
  margin: 20px 0 10px 0;
  font-weight: 200;
}

pre {
  border-left: 4px solid $gingreen;
  padding-left: 5px;
}

code {
  font: 14px/18px 'InconsolataMedium', Arial, sans-serif;
}

.sponsors {
  margin: 0 auto;
  text-align: center;
  .sponsor {
    width: 100%;
    padding: $spacing / 2;
    &.pebblecode {
      img {
        background-color: #da1651;
        padding: 24px;
        max-width: 100%;
      }
    }
  }

}

li {
  margin: 20px 0;
}

p {
  line-height: 22px;
  margin: 10px 20px;
}

.venue {
  display: block;
  margin: 0 auto;
  width: 750px;
  @media (max-width: $single-column-threshold) {
    width: 100%;
  }
}

.register {
  text-align: center;
  max-width: 160px;
  margin: 0px auto;
  .button {
    display: block;
    font-weight: lighter;
    font-size: 20px;
    padding: 15px;
    border: 0;
    background-color: $gingreen;
    text-align: center;
    color: white;
  }

  .button:active {
    border: 1px solid #5B992B;
    border-bottom: 1px solid #538C27;
  }

  .button:hover {
    background-color: $ginsilver;
    color: $gingreen;
    cursor: pointer;
  }
}

a.button, a.button:hover, a.button:active, a.button:visited {
  text-decoration: none;
}


