<h3>Who's coming</h3>

<div class="attendees">
	{{#twitter}}
			<div class="attendee">
				<a href="https://twitter.com/{{{ handle }}}">
					<img src="{{avatar}}"/>
				</a>
			</div>
	{{/}}
</div>

<p class="others">And {{others}} others.</p>
